<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Crypto News of the Day</h1>
    
    <button type="submit" value="submit">Save</button>

    <div class="w3-container">
        
            <div class="w3-panel w3-card" th:each="ar : ${articleList}">
                <form method="post" th:object="${article}" th:action="@{/articles}">

                <th:block>
                <h2 th:text="${ar.id}"></h2>            
                <h2 th:text="${ar.id}"></h2>            
                <h2 th:text="${ar.published_on}"></h2>  
                <h2 th:text="${ar.title}"></h2>         
                <h2 th:src="@{${ar.url}}"></h2>         
                <img th:src="@{${ar.imageurl}}">        
                <h2 th:text="${ar.body}"></h2>          
                <h2 th:text="${ar.tags}"></h2>          
                <h2 th:text="${ar.categories}"></h2>

                </th:block>

                <input type="checkbox" name="article" th:value="${article}"/>

                </form>
            </div>
      </div>

</body>
</html>